<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DexscreenerPriceAlert.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <DexscreenerPriceAlert.Properties.Settings>
            <setting name="MagicContract" serializeAs="String">
                <value>0xb7e50106a5bd3cf21af210a755f9c8740890a8c9</value>
            </setting>
            <setting name="EthContract" serializeAs="String">
                <value>0x88e6a0c2ddd26feeb64f039a2c41296fcb3f5640</value>
            </setting>
            <setting name="Refresh" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="AlertTarget" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="AlertVolume" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="UpdateSettings" serializeAs="String">
                <value>True</value>
            </setting>
        </DexscreenerPriceAlert.Properties.Settings>
    </userSettings>
</configuration>